<!-- Panel default -->
<section id='panel-default' class='panel'>

	<section id='panel-login'>

		<!-- Title page -->
		<div class='block-head'>
			<h1>Connexion</h1>
		</div>

		<!-- Describ page -->
		<div class='block-describ'>
			<p> Pour vous connecter, cliquez sur le lien suivant:</p>
			<a href='{{action_connect}}'> Connexion</a>
		</div>

	</section>

	<section id='panel-inscription'>

		<!-- Title page -->
		<div class='block-head'>
			<h1>Inscription</h1>
		</div>

		<!-- Describ page -->
		<div class='block-describ'>
			<p> Pas encore inscrit ? Vous pouvez le faire gratuitement avec le lien suivant:</p>
			<a href='{{rootUri}}/inscription'> Inscription</a>
		</div>

	</section>

</section>