{% extends "main.html.twig" %}
{% block main_content %}


<!-- Page Content -->
<section id='main'>

	<section class="error">
		<img src="{{rootUri}}/src/media/assets/datas/icones/error.png">
		<div class='msg'>
			<h1>Erreur</h1>
			<p>{{message}}</p>
		</div>
		
	</section>
	
</section>

{% endblock %}