{% extends "main.html.twig" %}
{% block main_content %}


<!-- Page Content -->
<section id='main'>

	<section id="mentions">	
		<article>
			<h1>Mentions légales</h1>

			<p>
				 </br>
				Le présent site est la propriété de CoolRacing: --- </br>
				Les photos du site ne sont pas libres de droit. </br>
				Le site est réalisé par --- et hébergé par --- : </br>
			</p>


			<h2> 1. Informations techniques </h2>
			<p>
				L’utilisateur du présent site reconnaît disposer de la compétence des moyens nécessaires pour accéder et utiliser ce site et avoir vérifié que la configuration informatique utilisée ne contient aucun virus et qu’elle est en parfait état de fonctionnement.
			</p>
			<p>
				L’utilisateur reconnaît avoir été informé que le présent site est accessible 24 heures sur 24 et 7 jours sur 7, à l’exception des cas de force majeure, difficultés liées à la strucure des réseaux de communication ou difficultés techniques.
			</p>
			<p>
				Pour des raisons de maintenance, CoolRacing pourra interrompre le site et s’efforcera d’en avertir préalablement les utilisateurs.
				CoolRacing met tout en oeuvre pour offrir aux utilisateurs des informations et/ou outils disponibles et vérifiés, mais ne saurait être tenu responsable des erreurs, d’une absence de disponibilité des informations et/ou de la présence de virus sur son site.
			</p>


			<h2> 2. Loi Informatique et libertés</h2>
			<p>
				L’utilisateur est informé, conformément à l’article 27 de la loi Informatique, fichiers et libertés du 6 janvier 1978, que les informations facultatives qu’il communique en répondant s’il le souhaite aux formulaires présents sur le site permettent de répondre à sa demande, et sont destinées à CoolRacing, responsable du traitement, à des fins de gestion administrative et commerciale ainsi que, sauf opposition de sa part, aux autres sociétés du groupe ou aux sociétés partenaires de CoolRacing.
			</p>
			<p>
				L’utilisateur est informé qu’il dispose d’un droit d’accès et de rectification relatif à l’ensemble des données nominatives le concernant en écrivant à CoolRacing.
			</p>


			<h2> 3. Propriétés, Droits d’auteur</h2>
			<p>
				La structure générale, ainsi que les logiciels, textes, images animées ou non, et tout autre élément composant le site sont la propriété exclusive de CoolRacing.
			</p>
			<p>
				Toute représentations totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation expresse de CoolRacing est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.
				Il en est de même des bases de données figurant sur le site web, qui sont protégées par les dispositions du Code de la propriété intellectuelle portant transposition de la directive européenne du 11 mars 1996 relative à la protection juridique des bases de données, et dont CoolRacing est producteur.
			</p>
			<p>
				Tout utilisateur ou visiteur du site web ne peut mettre en place un hyperlien en direction de ce site sans l’autorisation expresse et préalable de CoolRacing.
				Nos différentes icônes sont fournies par le site www.flaticon.com et ont été conçues par Freepik.
			</p>


			<h2> 4. Conditions d’utilisation</h2>
			<p>
				Nous vous garantissons que tous les moyens sont mis en œuvre pour garantir la plus grande confidentialité et intégrité des données que vous nous confiez.
				Conformément à la loi n° 78-17 du 6 janvier 1978, vous disposez d’un droit d’accès, de rectification et de suppression des informations vous concernant.
			</p>
		</artcile>
	</section>
	
</section>

{% endblock %}


