{% extends "main.html.twig" %}
{% block main_content %}
	<div class="container-fluid" id="index">
		
		{# JUMBOTRON #}
		<div class="jumbotron">
			<div class="container" id="jumbotron">
				<h1>CoolRacing</h1>
				<p> </p>
				<p><a id='btn-index' class="btn btn-primary btn-lg" href="{{rootUri}}/doc/doc" role="button">Documentation</a></p>
			</div>
		</div>


		{# BODY #}
		<div class="row">
			<div class="col-lg-12 col-md-12 col-xs-12">
				<h1>Le leader d'évènements sportifs</h1>
				<img id='img-index-right' src="../src/media/assets/datas/img/trophy45.png" alt="Responsive image">
				<p>
					 Cras tempor tempor pellentesque. In cursus vulputate volutpat. Suspendisse pretium vehicula purus, at venenatis lacus tincidunt vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur id nibh eu augue sagittis convallis. Duis vel faucibus tellus. Proin erat tellus, tempus et odio id, molestie sollicitudin augue. Vestibulum id dapibus quam. Etiam fringilla dignissim tempor. Proin accumsan lectus ac justo mollis, at tincidunt elit finibus. Nam id ligula venenatis, condimentum sapien consectetur, dignissim ligula. Nam lectus elit, elementum eget efficitur quis, luctus nec mi. Cras vel mollis arcu.
				</p>
				<p>
					Morbi ac lacus ac enim rutrum ultrices. Etiam quis sodales sapien, non ullamcorper lacus. Suspendisse eget ante varius, iaculis libero vitae, consequat enim. Donec fringilla, erat quis consequat sodales, libero ante placerat libero, a pellentesque lectus odio sed est. Curabitur neque quam, commodo hendrerit viverra a, mollis eu orci. Donec vel leo eu nunc aliquet laoreet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce nisi elit, maximus vel dolor malesuada, porta luctus velit. Vivamus congue, tellus a ultricies iaculis, ex ex ornare leo, id accumsan risus sem ut augue. Nulla sit amet leo elit. Donec dignissim justo lorem, eget suscipit massa tincidunt ac. In pretium metus a odio tristique mollis. 
				</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-xs-12">
				<h1>Gérer gratuitement et facilement vos évènements sportifs</h1>
				<img id='img-index-left' src="../src/media/assets/datas/img/project.png" alt="Responsive image">
				<p>
					 Nullam lacinia, lorem vel placerat dignissim, metus enim pulvinar tellus, at commodo nisl metus sed urna. Sed lacinia, lacus vel fermentum finibus, erat diam ultrices justo, sit amet convallis tortor est et metus. Ut vitae ultrices urna. Integer vel tempor nunc. Fusce sed ornare elit, at molestie ipsum. Donec volutpat, turpis non suscipit placerat, urna elit rutrum purus, sed posuere magna dolor in neque. Donec tempus bibendum nulla auctor placerat. Integer pretium condimentum viverra. Praesent vel lacus et ligula porta fermentum. Mauris et suscipit erat. Praesent a lacus at ipsum finibus fermentum a condimentum ipsum. 
				</p>
				<p>
					Maecenas ut mauris eget turpis scelerisque suscipit. Integer lorem velit, tempor non arcu non, vehicula maximus erat. Cras faucibus, justo et interdum efficitur, libero lorem rhoncus purus, quis accumsan purus neque in lorem. Etiam bibendum vel eros at aliquet. Sed consectetur quam id mauris posuere volutpat. Nullam blandit urna vitae sollicitudin mattis. Ut mattis libero at rutrum mollis. Fusce mattis tristique ex vel sagittis. Fusce accumsan nunc tellus. Mauris tincidunt vitae tortor at egestas. Suspendisse luctus mauris sed metus pretium iaculis. Aliquam commodo ex vitae pharetra dictum. Praesent ultrices hendrerit tellus et ullamcorper. Nam id tempus dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc cursus metus a turpis viverra, sit amet imperdiet nunc elementum. 
				</p>
			</div>
		</div>
		<hr>
	</div>
{% endblock %}