// Colors variables:
$main_color: #34495E;
$main_color_darken: darken(#34495E,5%);
$main_color_darken_more: darken(#34495E,9%);

$secondary_color: #F17113;
$secondary_color_darken: darken(#F17113,10%);

$lightGrey_70: lighten(#4A4A4A,70%);
$lightGrey_65: lighten(#4A4A4A,65%);
$lightGrey_60: lighten(#4A4A4A,60%);
$lightGrey_40: lighten(#4A4A4A,30%);
$lightGrey_30: lighten(#4A4A4A,30%);
$lightGrey_25: lighten(#4A4A4A,30%);
$grey: #4A4A4A;
$darkGrey_10: darken(#4A4A4A,10%);
